.BgHeader {
  width: 100%;
  background-color: #b5bec9;
  overflow: hidden;
  position: fixed;
  top: 0;
}
.Container-Header {
  width: 100%;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 25px;
  justify-content: center;
}
.Container-Header input.InputHeader {
  flex: 1;
  border: 0;
  background-color: #fff;
  color: #333;
  height: 34px;
  font-size: 14px;
  padding: 0 15px;
}

.Container-Header button.ButtonHeader {
  border: 0;
  background-color: #6b7d94;
  color: #fff;
  font-size: 14px;
  height: 34px;
  padding: 0 15px;
  cursor: pointer;
}
