.Container {
  width: 100%;
  background-color: #b5bec9;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 25px;
  position: fixed;
  left: 0;
  top: 0;
}
.Container > input {
  flex: 1;
  border: 0;
  background-color: #fff;
  color: #333;
  height: 34px;
  font-size: 14px;
  padding: 0 15px;
}

.Container > button {
  border: 0;
  background-color: #6b7d94;
  color: #fff;
  font-size: 14px;
  height: 34px;
  padding: 0 15px;
  cursor: pointer;
}
